{% extends 'base.html' %}
{% block content %}
<h2>Mensajes recibidos</h2>
<a href="{% url 'mensajes:enviar' %}">Enviar mensaje nuevo</a>
<ul>
    {% for mensaje in object_list %}
        <li>
            <a href="{% url 'mensajes:detalle' mensaje.pk %}">
                {{ mensaje.asunto }} - De: {{ mensaje.remitente.username }} ({{ mensaje.fecha_envio|date:"d/m/Y H:i" }})
            </a>
            {% if not mensaje.leido %}
                <strong>(No leído)</strong>
            {% endif %}
        </li>
    {% empty %}
        <li>No tienes mensajes.</li>
    {% endfor %}
</ul>
{% endblock %}
